body {
    padding-top: 50px;
}
.content {
    padding: 40px 15px;
    text-align: left;
}

/* resize images */
.content img {
    float: left;
    margin: 20px;
    width: 20%;
    height: auto;
}

.content ul{
    margin-left: 250px;

}
